{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>To do list:</h1>

    <p>Do them or something. idk tbh...</p>

   

    <article id="tasks">

       
        {% for task in tasks %}

          
            
            <li>
                {% if task.complete %} 
                <a href="/incomplete/{{ task.id }}">🗹</a>
                {% else %}
                <a href="/complete/{{ task.id }}">☐</a> 
                {% endif %}

                <span>{{ task.priority }}</span> 

                <span>{{ task.name }}</span> 
            </li>
           
           

               

            {% else %}

                <p>idk tbh</p>

        {% endfor %}
       
    </article>
    
        
    <article id="form">

        <h3>Add a New Task...</h3>

        <form action="/add" method="POST">

           <input
                type="text"
                name="name"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="priority"
                min="1"
                placeholder="Priority level"
                required
            >

            <button>Add the Task</button>

        </form>

    </article>

{% endblock %}

 