{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo

{% endblock %}


{% block content %}

    <h1>To do list:</h1>

    <p>Do them...</p>

    <p>It includes...</p>

    {{ task.name }}

    <a href="/things" role="button">Go to the Things...</a>

{% endblock %}

